    /* font-family: 'Bangers', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Ultra', serif;
    font-family: 'Muli', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    /* display: flex; */
    /* background-color: #280ABB; //blau */
    background-color: #080228; //blau dunkel
    /* background-color: #FFCD00; //gelb
    background-color: #3A2F00; //gelb dunkel
    background-color: #FF0000; //rot
    background-color: #3A0000; //rot dunkel
    background-color: #00D300; //grün
    background-color: #002F00; //grün dunkel */
}

header {
    /* position: fixed; */
    flex-direction: row;
    background-color: #FFCD00;
    border-bottom: 10px solid white;
    width: 100%;
}

footer {
    position: relative;
    flex-direction: row;
    background-color: #00D300;
    /* border-top: 10px solid white; */
}

h1 {
    font-family: 'Bangers', cursive;
    /* font-family: 'Shrikhand', cursive; */
    /* font-family: 'Ultra', serif; */
    color: white;
    text-shadow: -6px 0px #FF0000, 0 6px #FF0000, 6px 0 #FF0000, 0 -6px #FF0000;
    font-size: 100px;
    letter-spacing: 10px;
    /* word-spacing: 6px; */
}

img {
    max-height: 200px;
}

button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    top: 0;
    padding: 0 6px;
    border: 2px solid rgb(255,255,255);
    font: normal normal bold 20px/50px Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #FFCD00;
}

button:hover {
  color: #FFCD00;
  background: #ffffff;
}

a {
    display: inline-block;
    text-decoration: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    top: 0;
    padding: 0 6px;
    border: 2px solid rgb(255,255,255);
    font: normal normal bold 20px/50px Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #FFCD00;
}

a:hover {
  color: #FFCD00;
  background: #ffffff;
}

input {
    border: 2px solid red;
    background-color: white;
    width: 100%;
}

#login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 100px);
    background: white;
    border: 6px #FF0000 solid;
    border-radius: 3%;
    padding: 10em;
    padding-bottom: 10em;
    /* font-style: Arial; */
}

.modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgb(153, 0, 153, 0.2);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.test {
    position: fixed;
    border: 10px dotted white;
}
